In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

listings = pd.read_csv("listings1.csv")
listings1 = listings.copy()
valoresNulos = listings1.isnull().sum()
valoresNulos = listings1.isnull().sum().sum()
valoresNulos

np.int64(28632)

In [ ]:
####################################### 1 ###############################
def sustitucion_mediana(listings1):
    #separar las numericas de las str en el dataframe
    cuantitativas_con_nulos = listings1.select_dtypes(include=["float64", "int64", "float", "int"])
    #separar columnas cualitativas
    cualitativas = listings1.select_dtypes (include= ["object", "datetime", "category"] )
    #sustitur valores nulos con
    cuantitivas = cuantitativas_con_nulos.fillna(round(cuantitativas_con_nulos.median(), 1))
    #unir data frame
    Datos_sin_nulos = pd.concat([cuantitivas, cualitativas], axis=1)
    return (Datos_sin_nulos)

np.int64(23790)

In [ ]:
########################################### 1 #############################
listaSinInt = sustitucion_mediana(listings1)
#listaSinInt
valoresNulos2 = listaSinInt.isnull().sum().sum()
valoresNulos2

In [14]:
######################################### 2 ###############################
def sustitucion_text(listings1):
    #separar las numericas de las str en el dataframe
    cuantitativas_con_nulos = listings1.select_dtypes(include=["float64", "int64", "float", "int"])
    #separar columnas cualitativas
    cualitativas_con_nulos = listings1.select_dtypes (include= ["object", "datetime", "category"] )
    #sustitur valores nulos con
    cualitativas = cualitativas_con_nulos.fillna("No data")
    #unir data frame
    Datos_sin_nulos1 = pd.concat([cualitativas, cuantitativas_con_nulos], axis=1)
    return (Datos_sin_nulos1)

In [26]:
########################################### 2 #############################
listaSinInt2 = sustitucion_text(listings1)
#listaSinInt2
valoresNulos3 = listaSinInt2.isnull().sum().sum()
valoresNulos3
#listaSinInt2

np.int64(12892)

In [22]:
######################################### 3 ###############################
def sustitucion_bfill(listings1):
    #separar las numericas de las str en el dataframe
    cuantitativas_con_nulos = listings1.select_dtypes(include=["float64", "float"])
    #separar columnas cualitativas
    cualitativas = listings1.select_dtypes (include= ["object", "datetime", "category"] )
    #sustitur valores nulos con
    cuantitivas = cuantitativas_con_nulos.fillna(method= "bfill")
    #unir data frame
    Datos_sin_nulos = pd.concat([cuantitivas, cualitativas], axis=1)
    return (Datos_sin_nulos)

In [28]:
########################################### 3 #############################
listaSinInt3 = sustitucion_bfill(listings1)
#listaSinInt2
valoresNulos4 = listaSinInt3.isnull().sum().sum()
valoresNulos4
#listaSinInt3

C:\Users\brau1\AppData\Local\Temp\ipykernel_18968\3720534691.py:8: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  cuantitivas = cuantitativas_con_nulos.fillna(method= "bfill")

np.int64(23902)

In [30]:
######################################### 4 ###############################
def sustitucion_ffill(listings1):
    #separar las numericas de las str en el dataframe
    cuantitativas_con_nulos = listings1.select_dtypes(include=["float64", "int64", "float", "int"])
    #separar columnas cualitativas
    cualitativas_con_nulos = listings1.select_dtypes (include= ["object", "datetime", "category"] )
    #sustitur valores nulos con
    cualitativas = cualitativas_con_nulos.fillna(method= "ffill")
    #unir data frame
    Datos_sin_nulos1 = pd.concat([cualitativas, cuantitativas_con_nulos], axis=1)
    return (Datos_sin_nulos1)

In [31]:
########################################### 4 #############################
listaSinInt4 = sustitucion_ffill(listings1)
#listaSinInt2
valoresNulos5 = listaSinInt4.isnull().sum().sum()
valoresNulos5
#listaSinInt3

C:\Users\brau1\AppData\Local\Temp\ipykernel_18968\1321721763.py:8: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  cualitativas = cualitativas_con_nulos.fillna(method= "ffill")

np.int64(12896)

In [32]:
listaSinInt4.to_csv("listings_sinNulos2.csv")